<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


</head>
<body>


<div class="container">
<h1>Send your file</h1>
<form enctype="multipart/form-data">
 <div class="form-group">
<label for="to"> SendTo </label>
<input class="form-control" name="to" id="id"> </input>
</div>

<div class="form-group">
<label for="subject"> Subject </label>
<input  class="form-control" name="subject" id="subject"> </input>
</div>


<div class="form-group">
<label for="file">  File</label>
<input  type="file" class="form-control" name="file" id="file" placeholder="" >
<input type="hidden" name="pass" id="pass" value="" ></input> 
<input  onclick="uploadEn()" type="submit" class="form-control btn btn-primary"  value="Encrypt">
<button type="buttom" data-toggle="modal" class="form-control btn btn-primary" data-target="#myModal"  value="Decrypt"> Dencrypt</button>

</div>
</form>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <input name="password" id="password" type="password" value=""> </input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="uploadDe()" type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
      </div>
    </div>
  </div>
</div>

<div class="response" th:fragment="response"><a th:text="${text}"  th:href="${download}" download> </a></div>
<div class="email" th:fragment="email"></div>
<script>

  $("form").submit(function(e){
      e.preventDefault();
   });
    
    function uploadEn(){
       var form = new FormData($("form")[0]);
        $.ajax({
            type: 'POST',
            processData: false,
            contentType: false,
            data: form,
            url: 'uploadEn',
            success: function(data) {   
             $( "div.email" ).replaceWith(data); 
             $.get( "/delete", function() {
            	 //do nothing.
            })
        }});
    
    }
    
    function deleteFiles (){
    	 $.get( "/delete", function() {
        	 //do nothing.
        });
    }
    
    
     function uploadDe(){
     var password  = $("#password").val();
     $("#pass").val(password);
     var value = $("#pass").val()
        var form = new FormData($("form")[0]);
        $.ajax({
            type: 'POST',
            processData: false,
            contentType: false,
            data: form,
            url: 'uploadDe',
            success: function(data) {   
             $( "div.response" ).replaceWith(data); 
        }});
    
    }
    
    
    
   

</script>


</div>
</body>
</html>